<div class="heat-equation-container">
  <h1 class="equation-type">Heat Equation</h1>
  <hr>
  <form clrForm [formGroup]="formGroup" (ngSubmit)="solve()" >
    <clr-input-container>
      <label>Diffusivity</label>
      <input clrInput
             placeholder="Alpha"
             formControlName="alpha"
      />
    </clr-input-container>

    <clr-input-container>
      <label>Length</label>
      <input clrInput
             placeholder="L"
             formControlName="length"
      />
    </clr-input-container>

    <clr-input-container>
      <label>Time Period</label>
      <input clrInput
             placeholder="T"
             formControlName="timePeriod"
      />
    </clr-input-container>

    <clr-input-container>
      <label>Samples</label>
      <input clrInput
             placeholder="N"
             formControlName="samples"
      />
    </clr-input-container>

    <clr-input-container>
      <label>Left Boundary Type</label>
      <input clrInput
             placeholder="dirichlet or neumann"
             formControlName="leftBoundaryType"
      />
    </clr-input-container>

    <clr-input-container>
      <label>Left Boundary Function</label>
      <input clrInput
             placeholder="phi_1(t)"
             formControlName="leftBoundaryFunction"
      />
    </clr-input-container>

    <clr-input-container>
      <label>Right Boundary Type</label>
      <input clrInput
             placeholder="dirichlet or neumann"
             formControlName="rightBoundaryType"
      />
    </clr-input-container>

    <clr-input-container>
      <label>Right Boundary Function</label>
      <input clrInput
             placeholder="phi_2(t)"
             formControlName="rightBoundaryFunction"
      />
    </clr-input-container>

    <clr-input-container>
      <label>Initial Condition</label>
      <input clrInput
             placeholder="f(x)"
             formControlName="initialCondition"
      />
    </clr-input-container>

    <div class="button-group clr-offset-lg-2">
      <button class="btn btn-primary" type="submit">Submit</button>
      <button class="btn btn-primary" [disabled]="!solutionId" (click)="exportSolution()">Export</button>
    </div>
  </form>
</div>
