<div class="heat-equation-container">
  <h1 class="equation-type">Heat Equation</h1>
  <hr>
  <form clrForm [formGroup]="formGroup" (ngSubmit)="solve()" >
    <clr-input-container>
      <label>Diffusivity</label>
      <input clrInput
             placeholder="Enter Number"
             formControlName="alpha"
      />
    </clr-input-container>

    <clr-input-container>
      <label>Length</label>
      <input clrInput
             placeholder="Enter Number"
             formControlName="length"
      />
    </clr-input-container>

    <clr-input-container>
      <label>Time Period</label>
      <input clrInput
             placeholder="Enter Number"
             formControlName="timePeriod"
      />
    </clr-input-container>

    <clr-input-container>
      <label>Samples</label>
      <input clrInput
             placeholder="Enter Integer"
             formControlName="samples"
      />
    </clr-input-container>

    <clr-input-container>
      <label>Left Boundary Type</label>
      <input clrInput
             placeholder="Enter D or N"
             formControlName="leftBoundaryType"
      />
    </clr-input-container>

    <clr-input-container>
      <label>Left Boundary Function</label>
      <input clrInput
             placeholder="Enter function of time"
             formControlName="leftBoundaryFunction"
      />
    </clr-input-container>

    <clr-input-container>
      <label>Right Boundary Type</label>
      <input clrInput
             placeholder="Enter D or N"
             formControlName="rightBoundaryType"
      />
    </clr-input-container>

    <clr-input-container>
      <label>Right Boundary Function</label>
      <input clrInput
             placeholder="Enter function of time"
             formControlName="rightBoundaryFunction"
      />
    </clr-input-container>

    <clr-input-container>
      <label>Initial Condition</label>
      <input clrInput
             placeholder="Enter function of x"
             formControlName="initialCondition"
      />
    </clr-input-container>

    <button class="btn btn-primary submit" type="submit">Submit</button>
  </form>
</div>
