<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <span class="title">{{commonMessages.diffEqSolver}}</span>
    </div>
  </header>
  <div class="content-container">
    <nav class="sidenav">
      <section class="sidenav-content vertical-nav">
        <section class="nav-group">
          <label class="vertical-nav-item">{{commonMessages.equationTypes}}</label>
          <ul class="nav-list" *ngFor="let type of equationTypes">
            <li><a routerLink="{{type}}" class="vertical-nav-item {{getStyleClass(type)}}">{{getDisplayName(type)}}</a></li>
          </ul>
        </section>
      </section>
    </nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

